<!-- include header -->
  <%- include('include/_header')%>
<!-- include header -->

<!-- main -->
    <main id="site-main" >
      <div class="container">
        <div class="box-nav d-flex">
          <a href="/" class="text-outlined d-flex align-center g-add transition"><ion-icon name="chevron-back-outline"></ion-icon>All guitars</a>
        </div>
        <div class="form-title d-flex flex-col align-center">
          <h2 class="text-light">New guitar</h1>
          <span class="text-light m1rem">Use the below form to add a new guitar</span>
        </div>

        <!-- add guitar form -->
        <%- include('include/_form')%>

      </div>
    </main>
  <!-- main -->

<!-- include footer -->
  <%- include('include/_footer')%>
<!-- include footer -->